<footer>
  <div class="main-wrapper">
    <div class="comment-box-wrapper">
      <p class="comment-count">0 Comments</p>

      <form class="comment-box">
        <img
          src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
        />
        <input type="text" placeholder="Write Comment" />
        <button><fa-icon [icon]="faGrin"></fa-icon></button>
        <button><fa-icon [icon]="faArrowDown"></fa-icon></button>
      </form>
    </div>
  </div>
</footer>
