<header>
  <div class="controls">
    <button class="write-post">
      <fa-icon [icon]="faPen"></fa-icon> <span>Write Post</span>
    </button>
    <div class="doughnut-wrapper">
      <div class="doughnut"></div>
    </div>
    <button class="nav-item">
      <fa-icon [icon]="faSearch"></fa-icon>
    </button>
    <button class="nav-item"><fa-icon [icon]="faBell"></fa-icon></button>
    <button class="avatar">
      <img
        src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
      />
    </button>
  </div>
  <ul class="navigation">
    <li class="active"><a href="#">Popular</a></li>
    <li><a href="#">For You</a></li>
    <li><a href="#">Audio</a></li>
    <li><a href="#">Technology</a></li>
    <li><a href="#">Creativity</a></li>
    <li><a href="#">Culture</a></li>
    <li><a href="#">Auto</a></li>
    <li><a href="#">Design</a></li>
    <li><a href="#">Handpicked</a></li>
    <li><a href="#">Business</a></li>
  </ul>
</header>
